/********************************
************Main Page************
********************************/
.featuresContainerMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 30px;
  gap: 55px;
}

.cardContainerMain {
  display: grid;
  grid-template-columns: 1fr;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .cardContainerMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .featuresContainerMain {
    padding: 80px 150px;
    }
}



@media (min-width: 1280px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cardContainerMain {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .featuresContainerMain {
    flex-direction: row;
    }

  .cardBg:hover {
    position: relative;
    top: -10px;
  }
  
  .cardBg:hover::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background: var(--main);
  }
}







