.cardBg {
  background-repeat: no-repeat;
  color: var(--white);
  width: 375px;
  height: 375px;
  background-size: cover;
}

.cardContainer {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.cardDate {
  padding: 215px 0 5px 0;
}

.cardAuthor {
  padding: 5px 0 15px 0;
}

hr {

  background-color: var(--white);
}

.opaqueWhite {
  padding: 20px 0 40px 0;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .cardBg {
    height: 500px;
    width: 384px;
  }

  .cardDate {
    padding: 340px 0 5px 0;
  }
}

@media (min-width: 1024px) {
  .cardBg {
    width: 360px;
  }
}

