/********************************
********Footer Copmonent*********
********************************/

.footerContainer {
  padding: 56px 33px;
  background-color: var(--black);
  color: var(--white);
}

.socialMedia {
  padding: 30px 0 50px 0;
}

.socialMedia > svg {
  padding-right: 15px;
}

.socialMedia > svg:last-child {
  padding-right: 0;
}

.socialFooterContainer {
  grid-area: social;
}

.firstFooterContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'logo'
    'social'
    'text';
  justify-items: center;
}

.logoFooterContainer {
  text-align: center;
  grid-area: logo;
}

.secondFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonFooter:hover {
  text-decoration: underline;
}

.textFooterContainer {
  text-align: center;
  grid-area: text;
}

.textFooterLink {
  text-decoration: none;
  color: var(--white);
}

.textFooter {
  padding-bottom: 19px;
  cursor: pointer;
}

.textFooter:hover {
  opacity: 0.3;
}


.secondFooterContainer {
  padding-top: 120px;
}

.buttonFooter {
  padding-bottom: 34px;
}

.copyrightFooter {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .footerContainer {
    display: flex;
    padding: 64px 40px;
  }

  .firstFooterContainer {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'logo'
      'text'
      'social';
    justify-items: start;
  }

  .secondFooterContainer {
    width: 50%;
  }

  .textFooterContainer {
    display: flex;
    flex-direction: row;
    padding: 30px 0 70px 0;
  }

  .textFooter {
    padding-right: 25px;
  }



  .secondFooterContainer {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .socialMedia {
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .footerContainer {
    padding: 60px 170px;
  }

  .firstFooterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'logo text'
      'social text';
    justify-items: start;
  }

  .textFooterContainer {
    flex-direction: column;
    width: 50%;
    padding: 0;
    align-items: start;
  }
}
