.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #1d1c1e;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 40px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  list-style-type: none;
}

.nav-link {
  transition: 0.3s ease-out;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 65px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    padding: 32px 0;
  }

  .nav-menu.active {
    left: 0;
    margin-top: 32px;
    z-index: 200;
    background-color: white;
  }

  .nav-menu.active::before {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background: #000;
    text-align: center;
    top: 59%;
    position: absolute;
    opacity: 0.25;
  }

  .nav-item {
    margin-bottom: 20px;
  }

  .nav-button {
    margin-top: 20px;
  }

  .navbar {
    padding: 24px 28px;
    margin: 0;
  }

  .nav-link {
    color: black;
  }
}
